body {
	font-family: arial;
	margin: 0;
	padding: none;
	background-color: black;
	margin-top: 5cm;
}

.emscripten { padding-right: 0; margin-left: 0.5cm; ; display: block; }
div.emscripten { text-align: center; }      
div.emscripten_border { border: 0px solid black; }
/* the canvas *must not* have any border or padding, or mouse coords will be wrong */
canvas.emscripten { border: 0px none; }

.spinner {
	height: 30px;
	width: 30px;
	margin: 0;
	margin-top: 0px;
	margin-left: 20px;
	display: inline-block;
	vertical-align: top;

	-webkit-animation: rotation 5s linear infinite;
	-moz-animation: rotation 5s linear infinite;
	-o-animation: rotation 5s linear infinite;
	animation: rotation 5s linear infinite;

	border-left: 5px solid rgb(235, 235, 235);
	border-right: 5px solid rgb(235, 235, 235);
	border-bottom: 5px solid rgb(235, 235, 235);
	border-top: 5px solid rgb(120, 120, 120);

	border-radius: 100%;
	background-color: rgb(189, 215, 46);
}

@-webkit-keyframes rotation {
from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotation {
from {-moz-transform: rotate(0deg);}
to {-moz-transform: rotate(360deg);}
}
@-o-keyframes rotation {
from {-o-transform: rotate(0deg);}
to {-o-transform: rotate(360deg);}
}
@keyframes rotation {
from {transform: rotate(0deg);}
to {transform: rotate(360deg);}
}

#status {
	display: inline-block;
	vertical-align: top;
	margin-top: 30px;
	margin-left: 20px;
	font-weight: bold;
	color: rgb(120, 120, 120);
}

#progress {
	height: 20px;
	width: 30px;
}

#controls {
	display: inline-block;
	float: right;
	vertical-align: top;
	margin-top: 30px;
	margin-right: 20px;
}

#cmd{
	width: 100%;
	height: 200px;
}
#botReply {
   margin-left: 0cm;
   margin-top: -0.4cm;
   display:block;
   height: 35px;
}
#command {
    display:block;
	width: 395px;
	height: 55px;
	background-color: #444444;
	color: white;
	font-family: 'Lucida Console', Monaco, monospace;
	outline: none;
	margin-left: 0.5cm;
}
#login{
	height: 30px;
	width: 70px;
	font-size: 1.2em;
	 margin-top: -0.1cm;
}
#logout{
	height: 40px;
	width: 80px;
	font-size: 0.9em;
}
#startRecording{
	height: 40px;
	width: 120px;
	font-size: 0.9em;
}
#stopRecording{
	height: 40px;
	width: 120px;
	font-size: 0.9em;
}
#replayAudio{
	height: 40px;
	width: 120px;
	font-size: 0.9em;
}
#testPythonServer{
	height: 40px;
	width: 120px;
	font-size: 0.9em;
}
#runBtn{
	margin-top: 5px;
	margin-left: 0px;
	height: 40px;
	width: 120px;
	float:right;
	 font-size: 0.9em;
}

span.glyphicon-link {
    font-size: 1.2em;
}
#instruction{
	text-align: center;
	color : white;
	font-size: 0.8em;
	margin-bottom: 2px;
	
}
#smartbody-logo{
	width: 80px;
	height: auto;
}
#ict-logo{
	margin-left: 10px;
	margin-top: 10px;
	width: 80px;
	height: auto;
}
